/* div.Body {
    background: url('img/font.png') left top repeat-y;
} */

.Body {
    background: url('img/font.png') left top repeat-y;
    /* position: static; */
}

.add {
    position: fixed; 
    right: 5mm; 
    top: 10mm; 
    text-align: center; 
    border: solid; 
    background: green; 
    width: 90px; 
    padding: 15px;
}

.Hat {
    text-align: center;
    padding: 20px;
    background-color: #add8e6;
    color: blue;
    font-size: 20px;
}

.Content {
    background: url('img/football.png') repeat-y right top;
    float: right;
}

.menu {
    width: 200px;
    float: left;
}

.main {
    margin-left: 200px;
    /* padding-bottom: 1.5em;
    margin-bottom: 1.5em; */
    /* idth: 80%; */
}

h3.title {
    text-align: center;
}

.cup {
    float: left;
    width: 200px;
}

.Basement {
    clear: both;
    background-color: #add8e6;
    color: blue;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

div {
    text-align: justify;
}






    

    

 /*    .cup {
        width: 20em;
        float: left;
        margin-right: 1em;
    } */

    

    


/* @media all and (max-width: 935px) {
/* 
    .Hat {
        display: none;
    }

    .Basement {
        display: none;
    } */

    /* .menu {
        background-color: #f8e48c;
        width: 100%;
        display: inline-block;
        margin: 0;
    } */

/*     ul.hr {
        padding: 0;
    }

    ul.hr li {
        display: inline;
    } */