.Hat {
    text-align: center;
    padding: 20px;
    background-color: #add8e6;
    color: blue;
    font-size: 20px;
}

.main {
    display: flex;
    background: url('img/football.png') repeat-y right top;
    float: right;

}

.menu {
    flex-basis: 200px;
    flex-shrink: 0;
    background: #f8e48c;
}

.article {
    flex-basis: 200px;
    flex-grow: 1;
}

.cup {
    float: left;
    width: 200px;
}

h3.title {
    text-align: center;
}


.Basement {
    clear: both;
    background-color: #add8e6;
    color: blue;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

div {
    text-align: justify;
}

@media all and (max-width: 600px) {

    .Hat {
        display: none;
    }

    .Basement {
        display: none;
    }

    .main {
        flex-direction: column-reverse;
        background: none;
    }

    .cup {
        width: 100%;
    }

    h4 {
        margin: 0;
    }

    .menu {
        display: inline-block;
        background: none;
    }

    ul.hr {
        padding: 0;
    }

    ul.hr li {
        display: inline;
    }
}