.header {
    grid-area: hd;
    text-align: center;
    padding: 20px;
    background-color: #add8e6;
    color: blue;
    font-size: 20px;

}

.footer {
    grid-area: ft;
    background-color: #add8e6;
    color: blue;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.content {
    grid-area: main;
    background: url('img/football.png') repeat-y right top;
    float: right;
}

h3.title {
    text-align: center;
}


.cup {
    float: left;
    width: 200px;
}

.sidebar {
    grid-area: sd;
    background: #f8e48c;
    padding-right:10px;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px, auto;
    grid-auto-rows: 50px, 1fr, 50px;
    grid-template-areas:
        "hd hd"
        "sd main"
        "ft ft";
}

div {
    text-align: justify;
}

@media all and (max-width: 600px) {

    .header {
        display: none;
    }

    .footer {
        display: none;
    }

    .cup {
        width: 100%;
    }

    .sidebar {
        display: inline-block;
        background: none;
    }

    ul.hr {
        padding: 0;
    }

    ul.hr li {
        display: inline;
    }

    h4 {
        margin: 0;
    }

    .content {
        background: none;
    }

    .wrapper {
        grid-template-areas:
            "main"
            "sd";
        grid-template-columns: auto;
    }
}