/* .main {
    display: inline-block;
} */
.ex {
    text-align: center;
}

.picture {
    position: relative;
    display: inline-block;
    width: 420px;
    height: 420px;
}

.first {
    display: block;
    margin: auto;
    position: absolute;
    left: 80px;
    z-index: 10;
    top: 80px;

}

.second {
    position: absolute; 
    left: 0;
    top: 40px;
    z-index: 5;
}

.third {
    position: absolute; 
    right: 0;
    top: 30px;
    z-index: 5;
}

.fourth {
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.second:hover {
    z-index: 15;
}

.third:hover {
    z-index: 15;
}

.fourth:hover {
    z-index: 15;
}