.Hat {
    margin-bottom: 15px;
}

.title {
    width: 100%;
}

.floatLeft {
    float: left;
}


@media (min-width: 940px) {
    .col-15 {
        float: left;
        width: 15%;
        margin-top: 6px;
    }

    .col-85 {
        float: left;
        width: 85%;
        margin-top: 6px;
    }

    .visibility {
        display: none;
    }

}

.article {
    display: inline-block;
    width: 100%;
}

.Footer {
    clear: both;
}