.Hat {
    margin-bottom: 15px;
}

.title {
    width: 100%;
}

.floatLeft {
    float: left;
}

.col-15 {
    margin-top: 6px;
}

.col-85 {
    margin-top: 6px;
}

select {
    width: 100%;
}


@media (min-width: 700px) {
    .col-15 {
        float: left;
        width: 10em;
        margin-top: 6px;
    }

    .col-85 {
        margin-left: 10.7em;
        margin-top: 6px;
    }

    select {
        width: 200px;
    }

    .visibility {
        display: none;
    }

    .col-17 {
        float: left;
        width: 12em;
        margin-top: 6px;
    }
}

.article {
    display: inline-block;
    width: 100%;
}

.Footer {
    clear: both;
}