@media (max-width: 800px) {
    .Head {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .menu-main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /*  .main_icons {
        width: 100%;
        justify-content: center; 
        letter-spacing: 20px; 
        align-items: center; 
        text-align: center; 
    } */

    .pre-Footer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    /*  .search_input {
        width: 200px;
      } */
    .action_list {
        flex-direction: column;
        justify-content: space-around;
        /* align-content: stretch; */
        align-items: center;
    }

    .outline {
        margin-top: 30px;
        order: 2;
    }

    .long_hand {
        margin-top: 30px;
        order: 3;
    }

    .logo_actions {
        order: 1;
    }

    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

    .modal-content {
        letter-spacing: none !important;
        text-align: start;
    }
}

@media (max-width: 1055px) {
    .carousel {
      display: block;
    }
  
    .table_catalog {
      display: none;
    }
  }