.main {
    display: inline-block;
    text-align: center;
}

.font {
    padding: 35px;
    font-size: 30px;
    animation: MyAnimation 1s infinite;
}

@-webkit-keyframes MyAnimation {
    from {
        background-color: rgb(255, 208, 0);
        color: rgb(255, 0, 170)
    }

    50% {
        background-color: rgb(255, 51, 0);
        color: rgb(255, 0, 140)
    }

    to {
        background-color: rgb(255, 208, 0);
        color: rgb(255, 0, 34)
    }
}

.main:hover .circle {
    border-radius: 50%;
}

.circle {
    border-radius: 6px;
    transition-property: border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear, ease-in;
}

.box {
    background-color: rgb(170, 206, 247);
    color: #3a7999;
    padding: 20px;
}

.main:hover .box {
    color: #3a7999;
    box-shadow: inset 0 0 0 5px #3a7999;
}

.press  {
    background: #2db34a;
    transition-duration: 1s;
    transition-timing-function: linear;
    font-size: 50px;
    
  }

  .main:hover .press {
    background: #ff7b29;
  }
  
 